<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  </head>
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/disciplinas">Disciplinas</a></li>
        <li><a href="/curriculo">Currículo</a></li>
        <li><a href="/usuario">Usuário</a></li>
        <li><a href="/semestre">Semestre</a></li>
        <li> <a href="/perfil">Perfil</a>
        </li>
    </ul>
</body>
</html>