<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('recebedados')}}">
    
</head>
<body>
    <!-- <p> Olá {{nome}} {{sobrenome}} <br> Seu email é {{email}} </p> -->
      <p> Olá {{nome}} {{sobrenome}} <br> Seu email é {{email}} <br> Sua data de nascimento é {{data_formatada}} <br> Seu estado é {{estado}} <br> Instiuição: {{escola}} <br> Modalidade: {{modalidade}}</p>
</body>
</html>